<div class="container" style="width: 400px; margin-top: 150px">
  <!-- Content here -->
  <h2>Reset Password:  </h2>

  <div class="form-group">
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      aria-describedby="emailHelp"
      placeholder="Enter Address"
      #email
      required
    />
  </div>

  <div class="form-group">
    <span class="redirect">Go back to ? </span
    ><a routerLink="/sign-in">Sign In</a>
  </div>

  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="authService.ForgotPassword(email.value)"
      style="margin-right: 20px"
    >
      Reset Password
    </button>
  </div>
</div>
