<app-navbar></app-navbar>
<div class="card-body" style="width: 1000px; margin-left: 200px;">
  <div class="table-responsive">
      <table class="table table-hover">
          <thead class="">
              <th>
                  Users
              </th>
              <th>
                Email
            </th>
            <th>
              Created At
          </th>
          <th>
            Action
        </th>
          </thead>
          <tbody>
            <tr>
              <td>
                  Dakota Rice
              </td>
              <td>
                 dakota.rice@abc.com
              </td>
              <td>
                  Dec 21 2021
              </td>
              <td>
                <button
                class="btn btn-outline-danger my-2 my-sm-0"
                type="submit"
              >
                Delete
              </button>
              </td>
          </tr>
          </tbody>
      </table>
  </div>


